body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 1em;
}

a {
  color: #244484;
  font-weight: 500;
}

body > header {
  text-align: center;
  height: 5em;
}
body > header > img {
  height: 4em;
}
body > section {
  margin-top: 1em;
  /*
  Push footer to screen bottom: subtract body' margin-top, header's height,
  this section's margin top, footer's height, body's margin-bottom.
  */
  min-height: calc(100vh - 1em - 5em - 1em - 1em - 1em);
}
body > footer {
  text-align: center;
  height: 1em;
  font-size: .85em
}

body > section > figure {
  display: inline-block;
  margin: 0;
  width: 50%;
  text-align: center;
}

body > section > figure.left {
  float: left;
}

body > section > figure.right {
  float: right;
}

body > section > figure > img {
  width: 90%;
}
body > section > figure > figcaption {
  display: inline-block;
  width: 90%;
  font-weight: 500;
  font-size: 1.1em;
  color: #fff;
  padding: .25em;
}
body > section > figure.left > figcaption {
  background-color: #00aef3;
}
body > section > figure.right > figcaption {
  background-color: #C41212;
}

/* media queries */
@media only screen and (min-width: 568px) {
  body > section > figure {
    width: 30%;
  }
}
@media only screen and (min-width: 992px) {
  body > header > img {
    height: 5em;
  }
  body > section > figure {
    width: 25%;
  }
}